@import 'variables.scss';

.main-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

header {
  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 16px;

    .logo-link {
      color: $light-green;
      text-transform: uppercase;
      font-family: "MyriadProBold";
      font-size: 24px;
    }

    .icon {
      display: block;
      background: url(../img/menu-pic.png) no-repeat 50% 50% $light-green;
      border-radius: 2px;
      width: 31px;
      height: 31px;
    }

    .desktop-menu {
      display: none;
    }
  }  

  .desktop-drop {
    display: none;
  }

  nav {
    position: relative;

    .topnav.responsive {
      opacity: 0;
      position: absolute;
      display: block;
      width: 100%;
      @include animation;
    }
    
    .topnav {
      display: none;
      overflow: hidden;
      background-color: #333;
      text-transform: uppercase;
      font-family: 'Sintony';

      a {
        display: block;
        background: $nav-green;
        color: $text-default;
        text-align: center;
        padding: 14px 16px;
        border-bottom: 1px solid $nav-hover-green;
        font-size: $fontSizeOne;

        &:hover {
          background-color: $nav-hover-green;
        }
      }
      
      .drop {
        display: none;

        li {

          a {
            background: $form-bg-grey;
            border-bottom: 1px solid $nav-separator-grey;

            &:hover {
              color: $nav-green;
            }
          }
        }
      }

      .dropbtn:hover {
        .drop {
          display: block;
        }
      }
    }    
  }
}

.global-info {
  background: url(../img/banner-image.png) no-repeat 50% 50%;
  background-size: cover;
  font-family: "MyriadProRegular";
  color: $text-default;
  text-align: center;
  padding: 30px 28px;

  h1 {
    font-size: 26px;
    padding-bottom: 30px;
  }

  p {
    font-size: $fontSizeOne;   
    padding-bottom: 30px; 
  }

  button {
    padding: 21px 30px;
    background: rgba($color: $text-default, $alpha: 0);
    border: 2px solid $text-default;
    border-radius: 4px;
    color: $text-default;
    font-size: $fontSizeThree;

    &:hover {
      background: rgba($color: $text-default, $alpha: 0.3);
    }
  }
}

.about-workers {
  max-width: 320px;
  margin: 0 auto;
  padding: 16px;
  border-bottom: 1px solid #e3e3e3;

  h2 {
    padding: 16px 0;
    font-family: "MyriadProRegular";
    font-size: $fontSizeThree;
    color: $nav-green;
  }

  .workers-wrap { 
    >:nth-child(1) {
      border: 5px solid $nav-green;
    }

    :nth-child(4) {
      border: 5px solid $nav-green;
    }



    .employee-block {    
      overflow: hidden;
      margin-bottom: 30px;

      .img-wrap {
        position: relative;   
        
        >img:first-child {
          width: 100%;
        }
      
        .photo-worker {        
          overflow: hidden;
          border: 4px solid #f3f3f3;
          border-radius: 50%;
          position: absolute;
          left: 31%;
          bottom: -16%;
          background: #fcfcfc;
        }
      }

      .content-wrap {
        border-left: 1px solid #dbe1e7;
        border-right: 1px solid #dbe1e7;

          p {
          padding: 53px 40px 0 16px;
          font-family: "MyriadProRegular";
          font-size: $fontSizeTwo;
          color: $text-dark-grey;
        }

        a {
          display: block;
          padding: 25px 0 20px 16px;
          font-family: "HelveticaNeue";
          font-size: $fontSizeOne;
          color: $light-green;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.news-info {
  background: $main-bg-light-grey;
  padding: 33px 16px;

  .news-block {
    font-family: "HelveticaNeue";

    h2 {
      color: $text-dark-grey;
      font-size: $fontSizeTwo;
      padding: 0 55px 26px 0;
    }

    p {
      color: $text-grey;
      font-size: $fontSizeOne;
      padding-bottom: 35px;
    }
  }

  button {
    padding: 20px 110px;
    text-align: center;
    border-radius: 2px;
    border: none;
    font-family: 'Sintony';
    font-weight: bold;
    font-size: $fontSizeTwo;
    color: $text-default;
  }

  .news-top-button {
    background: $light-green;  
    margin-bottom: 20px; 
    
    &:hover {
      background: $nav-green;
    }
  }

  .news-bottom-button {
    background: #455357;

    &:hover {
      background: $nav-separator-grey;
    }
  }
}

.articles-wrapper {
  font-family: $mainFontRegular;

  h2 {
    padding: 19px;
    background: $light-green;
    color: $text-default;
    font-size: 20px;
    text-transform: uppercase;
  }

  article {
    display: flex;
    flex-flow: row wrap;
    background: $form-bg-grey;

    >:nth-child(1) {
      background: url(../img/article-bg1.png) no-repeat;
      background-size: cover;
    }
    
    >:nth-child(2) {
      background: url(../img/article-bg2.png) no-repeat;
      background-size: cover;
    }
    
    :nth-child(3) {
      background: url(../img/article-bg3.png) no-repeat;
      background-size: cover;
    }
    
    :nth-child(4) {
      background: url(../img/article-bg4.png) no-repeat;
      background-size: cover;
    }

    :nth-child(5) {
      background: url(../img/article-bg4.png) no-repeat;
      background-size: cover;
    }

    :nth-child(6) {
      background: url(../img/article-bg4.png) no-repeat;
      background-size: cover;
    }

    .hide-sections {
      display: none;
    }
    
    section {
      width: 160px;
      height: 160px;

      .section-content {
        display: none;     
        padding: 37px 16px;   
      }


      &:hover {        
        .section-content {
          display: block;  

          h3 {
            color: $nav-green;
            font-size: 16px;
            padding-bottom: 30px;
          }
          
          span {
            color: #9da5a3;
            font-size: 12px;
          }
        }
      }  
    }
  }
}

.company-info {
  box-sizing: border-box;
  padding: 30px 16px;
  background: $form-bg-grey;
  border-bottom: 12px solid #1e2325;
  color: #9da5a3;
  font-family: $mainFontRegular;

  .logo-company {

    h2 {
      font-size: 20px;
    }

    p {
      padding: 25px 0 37px;
      font-size: $fontSizeOne;
    }
    
    .hide-info-block {
      display: none;
    }
  }

  p {
    padding: 25px 0 37px;
    font-size: $fontSizeOne;
  }

  form {
    overflow: hidden;
    font-family: $mainFontRegular;
    font-size: $fontSizeOne;

    label {
      display: block;
      margin-bottom: 22px;
      font-size: $fontSizeTwo;
    }

    input, textarea {
      width: 100%; 
      padding: 24px 20px;
      margin-bottom: 15px;
      background: #181c1d;
      border: none;
      color: #9da5a3;
      font-family: $mainFontRegular;
      font-size: $fontSizeOne;
    }

    input[type='submit'] {
      padding: 20px 110px;
      text-align: center;
      border-radius: 4px;
      border: none;
      color: $text-default;
      background: $light-green;  
    
      &:hover {
        background: $nav-green;
      }
    }
  }
}

footer {
  padding: 20px 12px;
  background: #181c1e;
  color: #9da5a3;
  font-family: $mainFontRegular;
  font-size: $fontSizeOne;
  text-align: center;

  a {
    display: inline-block;
    padding: 11px 11px;
    color: #9da5a3;

    &:hover {
      color: $light-green;
    }
  }

  p {
    padding-top: 30px;
    text-align: center;
    line-height: 25px;
  }
}

@media screen and (min-width: 600px) {
  .main-wrapper {
    max-width: 100%;
    margin: 0;
  }

  header,
  .desktop-drop-wrapper,
  .global-info,
  .company-info,
  .company-info,
  .news-info-wrapper,
  .articles-wrapper,
  .articles-title-wrapper,
  footer {
    max-width: 1600px;
    margin: 0 auto;
  } 

  .global-info {
    padding: 30px 0;
  }

  .logo,
  .desktop-drop {
    max-width: 1180px;
    margin: 0 auto;
  }

  header {

    .logo a.icon {
      display: none;
    }

    nav {
      display: none;
    }
    
  .logo nav.desktop-menu {
      display: inline-block;
      padding-top: 6px;

      a {
        padding: 30px 20px;
        border-radius: 4px;
        font-family: "MyriadProRegular";
        color :$text-dark-grey;
        font-size: $fontSizeOne;

        &:hover {
          color: $light-green;
        }              
      }  
    }
  }

  .desktop-drop-wrapper {
    background: $nav-green;
  }

  .desktop-drop.active  {
      display: block;
      padding: 29px 0;

      a {
        border-radius: 4px;
        padding: 7px 11px;
        color: $text-default;
        text-transform: uppercase;
        font-family: 'Sintony';

        &:hover {
          background: $nav-hover-green;
        }
      }

  }

  .about-workers,
  .news-info {
    max-width: 1180px;
    margin: 0 auto;
  }

  .workers-wrap {
    display: flex;  
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    >:nth-child(1) {
      order: 2;
    }

    :nth-child(3) {
      order: 4;
    }

    :nth-child(4) {
      border: 5px solid $nav-green;
      order: 3;
    }

    .employee-block {
      width: 280px;

      a.more-info {
          display: none;
      }
    }
  }

  .news-info-wrapper {
    background: #f7f7f7;
  }
  
  .news-info {   
    display: flex;  
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    flex-direction: row-reverse;

    .news-block {
      width: 580px;

      button {
        padding: 15px 45px;
        margin-right: 15px;
      }
    }
  }

  .articles-wrapper {
    background: #63c6ae;

    h2 {
      max-width: 1180px;
      margin: 0 auto;
      padding: 19px 0;
    }

    article {
      display: flex;  
      -webkit-flex-flow: row wrap;
      justify-content: space-around;

      section {
        width: 266px;
        height: 266px;     
      }
      
      section.hide-sections {
        display: block;
      }
    }
  }

  .company-info .company-info-wrap{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;  
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    .logo-company {
      width: 250px
    }

    .hide-info-block {
      display: block;
      width: 250px;
      margin-top: 25px;
    }

    form {
      width: 350px;
    }
  } 
  
  footer {
      padding: 20px 0;
    }
}