$mainFontRegular: 'Sintony', sans-serif;
$shadow-grey: #d6d7d7;
$text-default: #fff;
$text-grey: #737d84;
$text-dark-grey: #616870;
$nav-green: #58b9a1;
$nav-hover-green: #53af99;
$light-green: #63c6ae;
$footer-dark-grey: #181c1e;
$form-bg-grey: #242a2c;
$main-bg-light-grey: #f7f7f7;
$nav-separator-grey: #1e2325;
$fontSizeOne: 14px;
$fontSizeTwo: 18px;
$fontSizeThree: 20px;

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProBold.woff") format("woff"),
  url("../fonts/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.eot");
  src: url("../fonts/HelveticaNeue.eot?#iefix")format("embedded-opentype"),
  url("../fonts/HelveticaNeue.woff") format("woff"),
  url("../fonts/HelveticaNeue.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@mixin animation {		
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
  opacity: 0;
}


@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: none;
	}
}
  
@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: absolute;
		display: block;
		width: 100%;
		//@include animation;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

@media screen and (min-width: 600px) {
  .main-wrapper {
    max-width: 100%;
    margin: 0;
  }

  header,
  .global-info, 
  .about-workers {
    max-width: 1180px;
    margin: 0 auto;
  }

  .employee-block {
    width: 280px;
  }
}