$mainFontRegular: 'Sintony', sans-serif;

@font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular.eot");
			src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProRegular.woff") format("woff"),
			url("../fonts/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "MyriadProBold";
			src: url("../fonts/MyriadProBold.eot");
			src: url("../fonts/MyriadProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProBold.woff") format("woff"),
			url("../fonts/MyriadProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
  }
  
  @font-face {
			font-family: "HelveticaNeue";
			src: url("../fonts/HelveticaNeue.eot");
			src: url("../fonts/HelveticaNeue.eot?#iefix")format("embedded-opentype"),
			url("../fonts/HelveticaNeue.woff") format("woff"),
			url("../fonts/HelveticaNeue.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}